<a href="https://colab.research.google.com/github/Kirti788/kirtimayee_aiml/blob/main/24_01_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

input radius finds AREA of CIRCLE and PERIMETRE of the CIRCLE .

In [ ]:
 r=int(input("ENTER RADIUS OF THE CIRCLE: "))
 area=3.141*r*r
 perimeter=2*3.141*r
 print("THE AREA OF CIRCLE OF GIVEN CIRCLE IS=",area)
 print("THE PERIMETER OF CIRCLE OF GIVEN CIRCLE IS=",perimeter)

ENTER RADIUS OF THE CIRCLE: 4
THE AREA OF CIRCLE OF GIVEN CIRCLE IS= 50.256
THE PERIMETER OF CIRCLE OF GIVEN CIRCLE IS= 25.128

INPUT KILOMETER CONVERTS TO CENTIMETER ,METER AND MILIMETER

In [ ]:
km=float(input("ENTER KILOMETER VALUE="))
m=km*1000
cm=km*100000
mm=km*1000000
print("THE KILOMETER IN METER IS=",m)
print("THE GIVEN KILOMETER IN CENTIMETER IS",cm)
print("THE GIVEN KILOMETER IN MILIMETER IS=",mm)

ENTER KILOMETER VALUE=10
THE KILOMETER IN METER IS= 10000.0
THE GIVEN KILOMETER IN CENTIMETER IS 1000000.0
THE GIVEN KILOMETER IN MILIMETER IS= 10000000.0

INPUT TWO NUMBERS FIND SUM WITHOUT '+' OPERATOR

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def sum(a,b):
   for i in range(1,b + 1):
     a=a+1
   return a
print('SUM OF NUMBERS=',sum(a,b))

ENTER a VALUE=77
ENTER b VALUE=66
SUM OF NUMBERS= 143

INPUT TWO NUMBERS FIND REMAINDER WITHOUT '%'

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def rem(a,b):
  return(a-b*(a//b))
  print("THE REMAINDER IS=",rem(a,b))

ENTER a VALUE=6
ENTER b VALUE=7